.password-criteria {
  list-style: none; /* Elimina los puntos predeterminados del navegador */
  padding-left: 0; /* Elimina el relleno izquierdo por defecto */
}

.password-criteria li {
  position: relative;
  padding-left: 20px; /* Espacio para el punto antes del texto */
  margin-bottom: 5px; /* Espacio entre los elementos */
}

.password-criteria li::before {
  content: '•'; /* Punto antes del texto */
  color: red; /* Color del punto, puedes ajustarlo según tus preferencias */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px; /* Tamaño del punto, puedes ajustarlo según tus preferencias */
  line-height: 1;
}

.password-criteria li.valid::before {
  color: #00909E; /* Cambia el color del punto cuando el criterio es válido */
}

.password-criteria li.invalid::before {
  color: red; /* Cambia el color del punto cuando el criterio no es válido */
}

.password-criteria {
  list-style-type: none;
  padding: 0;
  font-size: 12px; /* Ajuste de tamaño para ser más compacto */
}

.password-criteria li {
  color: red;
  margin-bottom: 5px;
}

.password-criteria li.valid {
  color: #00909E;
  font-weight: bold;
}

.password-strength-indicator {
  margin-top: 10px;
  font-weight: bold;
}

.progress {
  height: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px #0000001a;
}

/* Color para las barras de progreso */
.bg-danger {
  background-color: #dc3545 !important; /* Rojo */
}

.bg-warning {
  background-color: #ffc107 !important; /* Amarillo */
}

.bg-success {
  background-color: #28a745 !important; /* Verde */
}

.password-strength-indicator {
  margin-top: 10px;
  font-weight: bold;
}

.password-strength-indicator .weak {
  color: red;
}

.password-strength-indicator .medium {
  color: orange;
}

.password-strength-indicator .strong {
  color: #00909E;
}

.progress-bar {
  transition: width 0.3s ease, background-color 0.3s ease; /* Suaviza el cambio en el ancho y color */
  
}


  input.form-control {
    border: 2px solid #00909E; /* Aumenta el grosor del borde y cambia el color */
    border-radius: 4px; /* Aplica un ligero redondeo a las esquinas */
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
    background-color: #f0f8ff; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Añade un ligero efecto de sombra */
  }
  
  input.form-control:focus {
    border-color: #006f77; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 8px rgba(0, 144, 158, 0.6); /* Añade un efecto de sombra al enfocar */
    outline: none; /* Remueve el borde azul predeterminado del navegador */
  }
  
  select.form-control {
    border: 2px solid #00909E; /* Cambia el color y grosor del borde */
    border-radius: 4px; /* Aplica un ligero redondeo a las esquinas */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    background-color: #f0f8ff; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Añade un ligero efecto de sombra */
  }
  
  /* Estilos cuando el selector está enfocado */
  select.form-control:focus {
    border-color: #006f77; /* Cambia el color del borde al enfocar */
    background-color: #e0f7fa; /* Cambia el color de fondo al enfocar */
    box-shadow: 0 0 8px rgba(0, 144, 158, 0.6); /* Añade un efecto de sombra al enfocar */
    outline: none; /* Remueve el borde azul predeterminado del navegador */
  }
  
  .form-group label {
    font-weight: bold; /* Hace que el texto sea más grueso */
    margin-bottom: 5px; /* Añade un espaciado inferior */
    color: #00909E; /* Cambia el color del texto del label */
  }

  .input-group {
    position: relative;
  }
  
  .input-group-append {
    position: absolute;
    right: 20px;
    top: 9px;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .position-relative {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d; /* Color gris de Bootstrap */
  }
  
  .form-control {
    padding-right: 40px; /* Espacio adicional para el ícono */
  }