::ng-deep {
    /* Estilo del título del diálogo */
    .dialog-title {
      font-size: 22px;
      font-weight: 600;
      color: #FF4A55;
      text-align: center;
      margin-bottom: 10px;
      border-bottom: 1px solid #FF4A55; /* Línea sutil en la parte inferior */
      padding-bottom: 8px;
    }
  
    /* Contenido del diálogo */
    .dialog-content {
      padding: 20px;
      background-color: #ffffff; /* Fondo blanco para todo el contenido */
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
      text-align: center;
      
  
      p {
        font-size: 14px;
        color: #333;
        margin: 12px 0;
        line-height: 1.4; /* Espaciado entre líneas más compacto */
      }
  
      .mat-form-field {
        width: 100%;
        margin: 10px 0;
  
        .mat-form-field-flex {
          background-color: #f7f7f7; /* Fondo claro para el campo */
          border-radius: 4px;
        }
  
        .mat-form-field-label {
          color: #00909E; /* Color de la etiqueta */
        }
  
        .mat-input-element {
          color: #333; /* Color del texto */
        }
  
        .mat-form-field-ripple {
          background-color: #FF4A55; /* Color de la animación al enfocarse */
        }
      }
    }
  
    /* Estilo de las acciones del diálogo */
    .dialog-actions {
      display: flex;
      justify-content: space-between; /* Espaciado entre botones */
      padding: 10px 15px;
      background-color: #ffffff; /* Fondo blanco para la sección de botones */
      border-top: 1px solid #ddd; /* Línea sutil superior */
      margin-bottom: 0%;
  
      button {
        padding: 8px 15px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        transition: background-color 0.2s ease;
  
        &.cancel-button {
          background-color: transparent;
          color: #FF4A55;
          border: 1px solid #FF4A55; /* Borde para el botón de cancelar */
  
          &:hover {
            background-color: #FF4A55; /* Color de fondo al pasar el mouse */
            color: white; /* Color de texto en hover */
          }
        }
  
        &.submit-button {
          background-color: #00909E;
          color: white;
  
          &:hover {
            background-color: #007A8C; /* Color más oscuro en hover */
          }
        }
      }
    }
  }
  