/* Estilos generales del contenedor del diálogo */
.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 12px !important;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
  
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
}

/* Estilos del título */
.mat-dialog-title {
  color: #00909E;
  font-size: 1.5rem; /* Aumentar tamaño del título */
  text-align: center; /* Centrar título */
  margin-bottom: 16px; /* Espaciado inferior */
}

/* Estilos del texto descriptivo */
.color-text {
  color: #00909E;
  font-size: 100%; /* Aumentar tamaño de texto */
  text-align: center; /* Centrar texto */
  margin-bottom: 24px; /* Espaciado inferior */
  font-weight: bold;
}

/* Estilos de los mensajes */
.mensaje-rojo {
  color: #FF4A55; /* Color rojo para mensajes de error */
  font-weight: bold; /* Negrita para mayor énfasis */
  text-align: center; /* Centrar mensaje */
}

.mensaje-verde {
  color: #00909E; /* Color verde para mensajes de éxito */
  font-weight: bold; /* Negrita para mayor énfasis */
  text-align: center; /* Centrar mensaje */
}

/* Estilos para el botón Cancelar */
.mat-stroked-button.cancel-button {
  color: #FF4A55; /* Color de texto inicial */
  border-color: #FF4A55; /* Color del borde inicial */
  transition: all 0.3s; /* Transición suave */
}

.mat-stroked-button.cancel-button:hover {
  background-color: #FF4A55; /* Color de fondo al pasar el mouse */
  color: white; /* Cambiar el color del texto al blanco */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

/* Estilos para el botón Enviar */
.mat-stroked-button.submit-button {
  color: #00909E; /* Color de texto inicial */
  border-color: #00909E; /* Color del borde inicial */
  transition: all 0.3s; /* Transición suave */
}

.mat-stroked-button.submit-button:hover {
  background-color: #00909E; /* Color de fondo al pasar el mouse */
  color: white; /* Cambiar el color del texto al blanco */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

/* Estilos del campo de entrada */
.mat-form-field {
  margin-bottom: 16px; /* Espacio entre campos */
}

.mat-form-field:focus-within {
  border-color: #00909E; /* Cambia el color del borde al hacer foco */
}



/* Cambiar el color de la etiqueta al hacer foco */
.mat-form-field label {
  color: #00909E !important; /* Cambia el color de la etiqueta al hacer foco */
}

/* Cambiar el color del texto en el input cuando está en foco */
.mat-form-field input {
  color: #00909E !important; /* Color de texto inicial */
}

.mat-form-field input:focus {
  color: #00909E !important; /* Color de texto cuando está en foco */
}

/* Estilos para centrar el botón Enviar */
.mat-dialog-actions {
  display: flex;               /* Habilita el modelo de flexbox */
  justify-content: center;      /* Centra el botón horizontalmente */
}

/* Estilos para el botón de cerrar (X) */
.close-button {
  position: absolute;
  bottom: 1em;
  left: 2em;
  color: #00909E; /* Color de la "X" */
}

.close-button:hover {
  color: #FF4A55; /* Cambia de color al pasar el mouse */
}
