

    <h2 mat-dialog-title>Recuperar Clave
        <button mat-icon-button class="close-button" (click)="onCancel()">
            <mat-icon >close</mat-icon>
          </button>
    </h2>
   
    <mat-dialog-content>
        <p class="color-text">Introduce tu nombre de usuario.</p>
        <br>
        
        <mat-form-field>
            <mat-label>Nombre Usuario</mat-label>
            <input matInput placeholder="jherrera" [(ngModel)]="username">
        </mat-form-field>
        
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button class="submit-button" (click)="onSubmit()" >Enviar</button>
    </mat-dialog-actions>
    <br>
    <p [ngClass]="{'mensaje-rojo': esError, 'mensaje-verde': !esError}" *ngIf="showMensaje">{{mensajeUsuario}}</p>


