/* Contenido del diálogo */
.dialog-content {
    text-align: center;
    padding: 20px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  h2 {
    font-size: 20px;
    color: #FF4A55;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  /* Estilos para las acciones del diálogo */
  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    padding: 12px;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-top: 1px solid #ddd;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.05);
  }
  
  button.mat-stroked-button.cancel-button {
    margin-right: 10px;
    border-color: #666;
    color: #666;
    transition: all 0.3s ease;
  }
  
  button.mat-stroked-button.cancel-button:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  
  button.mat-raised-button.confirm-button {
    background: #00909E; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    transition: all 0.3s ease; /* Transición suave para los cambios de estilo */
  }
  
  button.mat-raised-button.confirm-button:hover {
    background: #007A8C; /* Color de fondo del botón cuando se hace hover (un tono más claro) */
    color: white; /* Color del texto del botón */
  }